---
import Test from "../components/test.astro";
import Button from "../components/Button.astro";
import Layout from "../layouts/Layout.astro";
---

  <div class="flex flex-col justify-center">
    <Test />
    <Button>
      <a href={"/"}>home</a>
    </Button>
  </div>


<style>
  
</style>
