---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

import gospel from "../assets/gspl.gif";
import Button from "../components/Button.astro";
---

<Layout>
  <div >

    <Image src={gospel} alt="abc" />
  </div>


  <div>
    <Button>
      <a href={"instagram.com/gospeldownloads"} target="_blank">instagram</a>
    </Button>
  </div>
</Layout>
