---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

import gospel from "../assets/gspl.gif";
import banner from "../assets/pics/8.png";
import Button from "../components/Button.astro";
---

<Layout>
  <div>
    <Image src={gospel} alt="abc" />
  </div>

  <div class="flex flex-col gap-4 w-1/3 m-4">
    <Button>
      <a href={"/projects/"}>projects / portfolio</a>
    </Button>
    <Button>
      <a href={"/music/"}>music</a>
    </Button>
    <Button>
      <a href={"/canvas/"}>something...</a>
    </Button>
    <Button>
      <a href={"https://instagram.com/gospeldownloads"} target="_blank">instagram</a>
    </Button>
    <Button>
      <a href={"https://soundcloud.com/gospel144"} target="_blank">soundcloud</a>
    </Button>
    <Button>
      <a href={"https://www.twitch.tv/gospeldownloads"} target="_blank">twitch</a>
    </Button>
    <Button>
      <a href={"https://github.com/rhamo1"} target="_blank">github</a>
    </Button>
    <Button>
      <a href={"https://gospeldownloads.tumblr.com/"} target="_blank">tumblr</a>
    </Button>
  </div>

  <div>
    <Image src={banner}  alt="abc" />
  </div>
</Layout>
