---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

import gospel from "../assets/gspl.gif";
import banner from "../assets/pics/8.png";
import Button from "../components/Button.astro";
---

<Layout>
  <div>
    <Image src={gospel} alt="abc" />
  </div>

  <div class="flex flex-col gap-4 w-1/3 m-4">
    <Button>
      <a href={"/projects/"}>
        <img src="https://images.cooltext.com/5676634.gif" width="389" height="120" alt="projects" />
      </a>
    </Button>
    <Button>
      <a href={"/music/"}>
        <img src="https://images.cooltext.com/5676633.gif" width="235" height="76" alt="music" />
      </a>
    </Button>
    <Button>
      <a href={"/canvas/"}>
        <img src="https://web.archive.org/web/20090723045733/http://www.geocities.com/welcomeaks/ClickAn3.gif" width="50" height="76" alt="music" />
      </a>
    </Button>
    <Button>
      <a href={"https://instagram.com/gospeldownloads"} target="_blank">
        <img src="https://images.cooltext.com/5676632.gif" width="273" height="77" alt="instagram" />
      </a>
    </Button>
    <Button>
      <a href={"https://soundcloud.com/gospel144"} target="_blank"> <img src="https://images.cooltext.com/5676626.gif" width="410" height="75" alt="soundcloud" /></a>
    </Button>
    <Button>
      <a href={"https://www.twitch.tv/gospeldownloads"} target="_blank">
        <img src="https://images.cooltext.com/5676636.gif" width="223" height="93" alt="twitch" />
      </a>
    </Button>
    <Button>
      <a href={"https://github.com/rhamo1"} target="_blank">
        <img src="https://images.cooltext.com/5676638.gif" width="232" height="113" alt="github" />
      </a>
    </Button>
    <Button>
      <a href={"https://gospeldownloads.tumblr.com/"} target="_blank">
        <img src="https://images.cooltext.com/5676637.gif" width="231" height="57" alt="tumblr" />
      </a>
    </Button>
  </div>

  <div>
    <Image src={banner} alt="abc" />

    <div class="flex w-full justify-center m-4">
      <a href="https://www.free-website-hit-counter.com"><img src="https://www.free-website-hit-counter.com/c.php?d=9&id=157665&s=1" border="0" alt="Free Website Hit Counter" /></a><br />
    </div>
  </div>
</Layout>
