---
import Layout from "../layouts/Layout.astro";
import musicaeletronica from "../assets/pics/musicaeletronica.jpg";
import { Image } from "astro:assets";
import Button from "../components/Button.astro";
import MusicPlayer from "../components/MusicPlayer.astro";
import Audio from "../components/Audio.astro";
---

<Layout>
  <Audio />
  <div>
    <Image src={musicaeletronica} class="m-4 mb-20" alt="abc" />
  </div>

  <!-- <MusicPlayer /> -->

    <div class="fixed m-4 bottom-0">
      <Button>
        <a href={"/"}>home</a>
      </Button>
    </div>
</Layout>
