---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
---

<Layout>
  <div class="w-3/3 emoji">🚧</div>

  <div class="fixed m-4 bottom-0">
    <Button>
      <a href={"/"}><img src="https://web.archive.org/web/20090829004339/http://www.geocities.com/nexusixe/home.gif" width="50" height="76" alt="music" /></a>
    </Button>
  </div>
</Layout>
<style>
  .emoji {
    font-size: 100px;
  }
</style>
