---
// src/components/AsciiTyping.astro
---

<div style="font-family: monospace; white-space: pre; font-size: 14px;">
  <pre id="ascii-box"></pre>
  <script type="module">
    const art = String.raw`
        .-''''-.
       /        \\
      |          |
      |          |
       \\        /
        '-.__.-'
        .-''''-.
       /        \\
      |          |
      |          |
       \\        /
        '-.__.-'
        .-''''-.
       /        \\
      |          |
      |          |
       \\        /
        '-.__.-'
        .-''''-.
       /        \\
      |          |
      |          |
       \\        /
        '-.__.-'
        .-''''-.
       /        \\
      |          |
      |          |
       \\        /
        '-.__.-'
        .-''''-.
       /        \\
      |          |
      |          |
       \\        /
        '-.__.-'
        .-''''-.
       /        \\
      |          |
      |          |
       \\        /
        '-.__.-'
        .-''''-.
       /        \\
      |          |
      |          |
       \\        /
        '-.__.-'
        .-''''-.
       /        \\
      |          |
      |          |
       \\        /
        '-.__.-'
        .-''''-.
       /        \\
      |          |
      |          |
       \\        /
        '-.__.-'
        .-''''-.
       /        \\
      |          |
      |          |
       \\        /
        '-.__.-'
        .-''''-.
       /        \\
      |          |
      |          |
       \\        /
        '-.__.-'
        .-''''-.
       /        \\
      |          |
      |          |
       \\        /
        '-.__.-'
        .-''''-.
       /        \\
      |          |
      |          |
       \\        /
        '-.__.-'
        .-''''-.
       /        \\
      |          |
      |          |
       \\        /
        '-.__.-'
        .-''''-.
       /        \\
      |          |
      |          |
       \\        /
        '-.__.-'
        .-''''-.
       /        \\
      |          |
      |          |
       \\        /
        '-.__.-'
        .-''''-.
       /        \\
      |          |
      |          |
       \\        /
        '-.__.-'
        .-''''-.
       /        \\
      |          |
      |          |
       \\        /
        '-.__.-'

        ⣿⣿⣿⡿⠛⠻⢿⣿⣿⣿⣿⣿⣿⡄⡆⠼⠋⣛⣄⣠⣴
        ⣿⣿⣿⡏⣴⣿⣿⣶⡙⣿⣿⣿⣿⣿⣷⠃⣠⣪⡿⣿⣿
        ⣿⣿⣿⢀⣿⣿⣝⢿⣿⣌⢻⣿⣿⣿⡿⠰⣻⣿⣻⣿⣿
        ⣿⣿⣿⢸⣿⣿⣿⣿⣾⡏⣿⣿⣿⠏⣴⣾⣿⣿⣿⣿⣿
        ⣿⣿⡟⢸⣿⣿⣿⣿⣿⣿⠨⡿⢁⣾⣿⣿⣿⣿⣿⣿⣿
        ⣿⣿⣿⡈⣿⣿⣿⣿⣿⣿⣇⠠⣿⣿⣿⣿⣿⣿⣿⣿⣿
        ⣍⣉⡉⠁⢹⣿⣿⣿⣾⣿⣿⡜⣿⣿⢿⣿⣿⣿⣿⣿⣿
        ⡟⠁⠄⠄⠄⢻⣿⣿⣿⣿⣿⣷⡼⣟⢣⣾⣿⣿⣿⣿⣿
        ⠄⠄⠄⢀⣾⣆⠻⣿⣿⣿⣿⣿⣿⣌⣼⣿⣿⣿⣿⣿⣿
        ⠄⠄⢠⣿⣿⣿⣦⡙⣿⣿⣿⣿⣿⣿⣙⣿⣿⣿⣿⣿⣿
        ⠄⠄⣼⣿⣿⣿⠿⢓⣬⡟⣿⣿⣿⣿⣿⣿⡿⣵⣿⣿⣿
        ⠄⢰⣿⣿⣿⡟⢀⣿⣿⢛⣿⣿⣿⣿⣿⡟⣶⣿⣿⣿⣿
        ⠄⢸⣿⣿⣿⡇⣼⣿⣯⣿⣿⣿⣿⣿⣿⠇⣿⣿⣿⣿⣿
        ⠄⠸⣿⣿⣿⣧⠹⣿⣿⣿⣿⣿⣿⣿⡟⣰⣿⣿⣿⣿⣿
        ⠄⠄⢻⣿⣿⣿⣷⣌⡛⠿⠿⠿⠛⣉⡸⣿⣿⣿⣿⣿













        ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣀⣀⣀⣀⣀⣀⣠⠤⠤⢤⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⠶⠋⠉⣻⠿⠿⠟⠿⠛⠛⠛⠛⠛⠛⠒⠒⠒⠋⠁⢩⣳⣶⡶⠶⡶⢶⠶⣶⣶⣤⡀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣀⣀⣀⣤⣤⡴⠶⢶⣾⣿⣿⣦⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣤⣤⡴⣳⡞⠁⣤⣥⣾⣿⣿⣿⣿⣿⣆⠀
⠀⠀⠀⠀⠀⠀⣀⣀⣠⣤⣤⠤⠴⠖⠚⢿⡿⣿⣍⣉⣋⣹⣎⠙⠻⣷⣷⣿⣯⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣠⣤⡿⠛⠋⠛⠃⣸⣿⡿⢿⣿⣿⡏⠛⠹⣿⡆
⠀⠀⠀⣠⣴⣾⡿⣟⢻⣷⣤⣀⣀⣠⣤⣤⣷⣿⣷⣶⣶⣶⣿⡶⣶⣿⡟⣿⣻⡆⠘⡆⢲⠈⢁⣀⣀⣀⣀⡤⠿⠿⢿⣖⢒⣚⣋⢉⡽⢷⣀⣸⣿⣿⣿⡆⢠⣿⡇
⠀⠀⣰⣿⣿⣧⠀⠉⢻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠛⠛⡛⣻⡇⠀⢸⡋⢻⣿⣇⠀⢿⣿⣻⣿⠟⣟⡏⡗⡶⡶⡒⡟⢿⡟⡟⡼⣫⣹⣸⣿⣽⣯⣿⣿⣷⠁⣿⡇
⢰⣿⣿⣿⣙⣾⣦⣞⣹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣿⣿⣿⡇⢾⢿⣷⣼⣷⡟⠀⢨⣿⣿⣿⡄⣸⣹⣿⣽⣼⣽⣼⣼⣾⣷⣿⣷⣶⣿⣿⣿⣿⣿⣿⣯⣾⡿⠁
⠈⠉⠻⣿⣿⣏⡉⠉⢩⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣇⣀⣸⣿⣿⣿⡇⢠⡟⡛⠛⠛⠃⠬⠿⠛⠛⣿⣶⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⠁⠀
⠀⠀⠀⠙⠛⠿⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠉⣹⣿⣿⣿⣿⣤⣼⣿⣷⣖⡒⠒⢒⡒⢚⠛⢻⣷⣬⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠛⠉⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠉⠉⠀⠀⠀⠈⠙⠛⠛⠛⠉⠉⠉⠛⠋⠉⠛⢻⣟⣿⡟⠻⣿⣿⣿⣿⣿⡿⠇⠀⠀⢠⣿⣿⣿⣿⣿⣿⡿⠿⠟⠛⠉⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⣿⣿⣿⣿⣇⠀⠀⠀⠀⠀⠀⠀⣰⡿⣿⠞⠋⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⢹⡟⣿⣿⡀⠀⠀⢀⣀⣀⣴⠋⢱⠏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣼⣏⣾⣾⣿⡗⣷⣿⣿⣿⣿⡟⣿⢧⣸⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠉⠻⠿⣯⣴⣿⣿⣿⣿⣿⣧⡾⣾⠋⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢻⣿⣿⣿⣿⣿⣿⣿⣿⣿⡀⣿⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠸⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⢹⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⢸⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠸⣿⣿⣿⣿⣿⣿⣿⣿⣿⢸⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢻⣿⣿⣿⣿⣿⣿⣿⣿⠀⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⣿⣿⣿⣿⣿⣿⣧⡯⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣀⣠⣾⡿⣿⣿⣿⣿⣿⣿⣿⢿⣧⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣤⣤⠶⠿⢿⣿⣿⣿⣿⣷⣾⣿⣿⡿⣇⣲⣾⣿⣿⣷⣤⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣴⠞⠯⠀⡤⠖⠛⠉⠈⠙⠻⢿⣿⣿⣿⡿⠿⠟⠛⢛⣉⣩⣭⠷⠿⢷⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡼⠻⢦⣀⠚⠄⠀⠀⠀⠀⠀⠂⠀⠉⠻⠤⠴⠒⣚⣋⣉⣥⣴⣶⣾⣿⣿⣿⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⠎⢀⣴⠃⠈⠙⠳⢤⣄⡠⠀⣇⠀⣀⣠⣤⣶⣶⣿⣿⣿⣯⣿⣷⣿⣍⣹⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡴⠃⣠⡾⠃⠀⠀⢩⠄⠀⠀⠉⡉⠉⢳⣻⣿⣿⣿⣿⣿⣿⡿⠿⢟⣛⣻⡭⠭⠖⠛⢃⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⣇⢰⣧⣄⡀⠀⡰⠃⠀⠀⢀⠞⠀⠀⠀⢿⣛⣻⡭⠭⠷⠒⠚⠉⠉⢀⣀⣠⣤⣤⣶⡟⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⣯⣙⢦⡞⠁⠀⠀⢠⠋⠀⠀⠀⠀⠈⢁⣀⣠⣤⣴⣶⣶⠿⠿⠟⣛⣋⣹⡉⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⣿⣿⣿⣷⣦⣤⣤⣧⣤⣴⣶⣶⣿⡿⠟⢻⣿⣿⡟⠀⠀⣶⣶⣾⣿⣿⣿⣷⣿⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⠿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠉⠀⣾⣿⣿⣫⣿⣿⣿⣶⣶⣾⣿⣿⠿⠿⠛⠛⠋⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠻⢿⣿⣿⣿⣿⣿⣶⣶⣿⣿⣿⠿⠿⠟⠛⠋⠉⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢙⢛⠛⠛⠉⠉⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀

        LA FURADERA
    `;

    const el = document.getElementById("ascii-box");
    let i = 0;

    function typeChar() {
      if (i < art.length) {
        el.textContent += art[i];
        i++;
        // make the page auto scroll down
        window.scrollTo(0, document.body.scrollHeight);

        setTimeout(typeChar, 3); // speed
      }
    }

    typeChar();
  </script>
</div>
