---
import music from "../assets/06-Urban-Wax-Rollin-Intelligence.mp3";
import music2 from "../assets/music/teto gelado - faz o vuk vuk gospel refix [free dl].mp3";
---

<div>
  <div id="app" style="height: 100vh">
    <!-- Webamp will attempt to center itself within this div -->
  </div>
  <script is:inline src="https://unpkg.com/webamp@1.5.0/built/webamp.bundle.min.js"></script>
  <script is:inline src="https://unpkg.com/butterchurn@2.6.7/lib/butterchurn.min.js"></script>
  <script is:inline src="https://unpkg.com/butterchurn-presets@2.4.7/lib/butterchurnPresets.min.js"></script>
  <script is:inline>
    const Webamp = window.Webamp;
    new Webamp({
      initialTracks: [
        {
          metaData: {
            artist: "gospel",
            title: "teto gelado",
          },
          // NOTE: Your audio file must be served from the same domain as your HTML
          // file, or served with permissive CORS HTTP headers:
          // https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS
          url: "https://rhamon.com/_astro/teto%20gelado%20-%20faz%20o%20vuk%20vuk%20gospel%20refix%20_free%20dl_.b758cc59.mp3",
          duration: 145.2,
        },
      ],
      __butterchurnOptions: {
        importButterchurn: () => Promise.resolve(window.butterchurn),
        getPresets: () => {
          const presets = window.butterchurnPresets.getPresets();
          return Object.keys(presets).map((name) => {
            return {
              name,
              butterchurnPresetObject: presets[name],
            };
          });
        },
        butterchurnOpen: true,
      },
      __initialWindowLayout: {
        main: { position: { x: 0, y: -400 } },
        equalizer: { position: { x: 0, y: -290 } },
        playlist: { position: { x: 0, y: -175 }, size: [0, 4] },
        milkdrop: { position: { x: 275, y: -400 }, size: [7, 12] },
      },
    }).renderWhenReady(document.getElementById("app"));
  </script>
</div>
